{
    "presets": [
        [
        "@babel/preset-react",
        {
          "runtime": "automatic"
        }
      ], 
        [
        "@babel/preset-typescript",
        {
          "runtime": "automatic"
        }
      ], 
      "@babel/preset-env"
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime"]
  ],
  "env": {
      "tests" :{"presets": [
        [
          "@babel/presets-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}