#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-tip {
  /* background-color: transparent;
  font-weight: bold;
  text-decoration-color:silver; */
  text-align: center;
  /* font-size: medium;
  width: 2em;
  padding: 0.5em;
  margin: 0.2em;
  padding-left: 0.1em;
  margin-left: 0.1em;
  border: solid black 1px; */
}

td {
  margin: 0 '5px';
}
